﻿<h3>Créer une nouvelle partie !</h3>
<form asp-action="Add" asp-controller="Game" method="post">
    <label for="DateDeCreation">Date de création</label>
    <input type="text" name="DateDeCreation" value="@DateTime.Now" />
    <input type="text" hidden name="DateDeDebut" value="@DateTime.Now" />
    <button type ="submit">Créer</button>
</form>