﻿@using game.api
@model GameListViewModel

<table class="table">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Date
			</th>
			<th>
				CheckPoints
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var game in Model.GameList)
		{
			<tr>
				<td>@game.Id</td>
				<td>@game.DateDebut.ToString("dddd dd MMMM yyyy")</td>
				<td></td>
			</tr>
		}
	</tbody>
</table>
