﻿

<h1>Liste des games</h1>

@if (Model.Liste1.Count > 0)
{
    <h2>Tableau contenant les parties</h2>
    <table class="table table-bordered" style="width:500px;">
        <thead>
            <tr class="table-active">
                <th>Numéro de partie</th>
                <th>Date de début de partie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.Model.Liste1)
            {
                <tr>
                    <td>@(item.Id)</td>
                    <td>@(item.DateDebut)</td>
                </tr>
            }
        </tbody>
    </table>

    <h2 class="mt-3">Tableau contenant les checkpoints pour chaque game</h2>
    <table class="table table-bordered" style="width:500px;">
        <thead>
            <tr class="table-active">
                <th>Numéro de partie</th>
                <th>Point de vie du personnage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Liste2)
        {
            <tr>
                <td>@(item.GameId)</td>
                <td>@(item.PersoPointsDeVie)</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <i>Aucune partie commencée</i>
}


